body {
  margin: 0;
  font-family: "Lucida Sans Regular", "Lucida Sans", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #142d4c;
  color: #f5f1f1;
}
